/* TextFields */
.text-field {
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

/* Labels */
.label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Buttons */
.button {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color:rgb(218, 218, 218);
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color:rgb(201, 201, 201);
}

/* Bordered StackPanes */
.bordered-pane {
    -fx-font-size: 14px;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}